* {
  margin: 0px;
  padding: 0px;
}
.text1 {
  color: red !important;
}
.Hero {
  display: flex;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );
}
.heroleft {
  margin-top: 95px;
  margin-left: 95px;
}
.lefttext1 {
  margin-top: 10px;
  color: #000;
  font-family: Mada;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lefttext2 {
  margin-top: 10px;
  width: 477px;
  height: 109px;
  flex-shrink: 0;
  color: #000;
  font-family: Aclonica;
  font-size: 114px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lefttext3 {
  margin-top: 10px;
  color: #000;
  font-family: Mada;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.herobutton {
  margin-top: 60px;
  color: #fff;
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 156.25% */
  width: 210px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );
}
.heroright {
  margin-left: 80px;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}
.section1{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.section2{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.button{
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
   
}
.btn:hover {
    background-color:rgb(250, 126, 135) !important;
  }
/* .btn:hover{ background-color: red !important;} */

/* .section1 h6 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}
.section1 h4 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
} */
.my-category-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.product-btn{
    background-color: #f53232;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .my-card1{
    margin-left: 95px;
  }
  .my-card3{
    margin-right: 0px;
  }
  .my-card4{
    margin-right:98px;
  }
  .nat1{
    text-align: center;
  }
  .nat2{
    text-align: center;
  }
  .New-arrival-section2{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
  }
  .cst{
    text-align: center;
    margin-top: 60px;
    
  }
  .cst1{
    text-align: center;
  }
  .Footer{
    margin-top: 50px;
    border-radius: 1px solid pink;
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    justify-content: space-around;
    background-color: rgb(250,243,234);
  }
  .poster1{
    margin-left: 98px;
    text-align: center;
    align-items: center;
  }
  .poster2{
    margin-right: 98px;
  }
  .socialimage{
    margin-right: 99px;
    text-align: center;
    align-items: center;
  }
  .col3text{
    margin-left: 15px;
    
  }
  .coltext2{
    margin-left: 15px;

  }
  .col1{
    margin-left: 5px;
  }